# Virtual Environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Database file
chat.db

# firebase key
multi-agent-ai-c24f4-firebase-adminsdk-fbsvc-a1dd40d1b4.json